enter candidate

# --- Interfaces & Loopback ---
set / interface system0 admin-state enable
set / interface system0 subinterface 0 ipv4 admin-state enable
set / interface system0 subinterface 0 ipv4 address 2.2.2.2/32
set / interface ethernet-1/1 admin-state enable
set / interface ethernet-1/1 subinterface 0 ipv4 admin-state enable
set / interface ethernet-1/1 subinterface 0 ipv4 address 10.0.2.2/30

set / interface ethernet-1/2 admin-state enable
set / interface ethernet-1/2 subinterface 0 ipv4 admin-state enable
set / interface ethernet-1/2 subinterface 0 ipv4 address 10.0.2.6/30

# --- Network Instance Default ---
set / network-instance default type default
set / network-instance default router-id 2.2.2.2
set / network-instance default interface system0.0
set / network-instance default interface ethernet-1/1.0
set / network-instance default interface ethernet-1/2.0

# --- OSPF Underlay ---
set / network-instance default protocols ospf instance default admin-state enable
set / network-instance default protocols ospf instance default version ospf-v2
set / network-instance default protocols ospf instance default router-id 2.2.2.2
set / network-instance default protocols ospf instance default area 0.0.0.0 interface system0.0 passive true
set / network-instance default protocols ospf instance default area 0.0.0.0 interface ethernet-1/1.0 interface-type point-to-point
set / network-instance default protocols ospf instance default area 0.0.0.0 interface ethernet-1/2.0 interface-type point-to-point


# --- BGP Overlay ---
set / network-instance default protocols bgp admin-state enable
set / network-instance default protocols bgp autonomous-system 65001
set / network-instance default protocols bgp router-id 2.2.2.2
#  Address Families 
set / network-instance default protocols bgp afi-safi evpn admin-state enable
set / network-instance default protocols bgp afi-safi ipv4-unicast admin-state enable
# ـ Group et  Route Reflector
set / network-instance default protocols bgp group leafs peer-as 65001
set / network-instance default protocols bgp group leafs afi-safi evpn admin-state enable
set / network-instance default protocols bgp group leafs route-reflector client true
set / network-instance default protocols bgp group leafs route-reflector cluster-id 2.2.2.2
set / network-instance default protocols bgp neighbor 10.10.10.1 peer-group leafs
set / network-instance default protocols bgp neighbor 10.10.10.2 peer-group leafs

commit save
